/* style.css */
body {
  font-family: Arial, sans-serif;
  margin: 10;
  padding: 10;
}
p{
  font-size: 50px;
}

nav {
  background-color: #4CAF50;
}

.nav-tabs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-tabs li {
  margin: 0;
}

.nav-tabs a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 14px 20px;
}


.nav-tabs a:hover {
  background-color: #45a049;
}

section {
  padding: 20px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 20px 24px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
