body {
    font-family: Arial, sans-serif;
    background-color: #eef2f3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    width: 500px;           /* bigger container */
    padding: 40px;          /* more space */
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

input {
    width: 90%;
    padding: 12px;
    font-size: 1.1em;
}

button {
    padding: 12px 25px;
    margin-top: 15px;
    font-size: 2em;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

#aiAnswer {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 2em;
}
body{
    background-image: url(images/v.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}



